[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colorama = "*"
huggingface-hub = "*"
ipykernel = "*"
ipywidgets = "*"
numpy = "*"
openai = "*"
requests = "*"
tiktoken = "*"

[dev-packages]

[requires]
python_version = "3.11"
